.div { 
    background-color: white; 
    border: 5px solid black; 
    color: green; 
    padding: 5px 10px; 
    text-align: center; 
    display: inline-block; 
    font-size: 20px; 
    margin: 10px 30px; 
    cursor: pointer; 
    text-decoration:none; 
  } 

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/675/828/non_2x/online-shopping-on-laptop-computer-or-e-commerce-on-blue-background-vector.jpg");
  background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center; 
  paddling: 100%
}
